/*External CSS of finalweb*/
body {
background-image: url("http://wallpapercave.com/wp/BVQUlFz.jpg");
color: green;
margin:0 ;
}


table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    text-align: center;
}

.black_text{
	color:black;
}

img.logo{
	height: 200px;
	width: 200px;
}

img.car{
	height: 400px;
	width: 600px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 25%;
    background-color: #f1f1f1;
    /*position: fixed;*/
    height: 100%;
    overflow: auto;
	float: right;
}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

li a.active {
    background-color: #4CAF50;
    color: white;
}

li a:hover:not(.active) {
    background-color: #555;
    color: white;
}
